<% if @yourclosed.blank? %>
<% else %>
<h1>Your Closed Tickets</h1>
    <table>
    <tr>
        <th>Ticket Number</th>
        <th>Customer</th>
        <th>Tech</th>
        <th>Closed By</th>
        <th>Category</th>
        <th>Equipment</th>
        <th>Hardware</th>
        <th>Software</th>
        <th>Description</th>
        <th>Status</th>
        <th>Walk_in</th>
    </tr>

    <% @yourclosed.reverse.each do |f|%>
    <tr>
        <td><%=link_to(f.id, ticket_path(f.id))%></td>
        <td><%=link_to(f.customer.fname + " " + f.customer.lname, customer_path(f.customer.id))%></td>
        <td><%=f.user.fullname%></td>
        <td><%=f.closer.fullname %></td>
        <td><%=f.category%></td>
        <td><%=f.equipment%></td>
        <td><%=f.hardware%></td>
        <td><%=f.software%></td>
        <td><%=f.description%></td>
        <td><% if f.status == false %>Closed <% else %>This doesn't belong here! <% end %></td>
        <td><%=f.walk_in%></td>
    </tr>
    <%end%>
</table>
<% end %>


<h1>All Closed Tickets</h1>

<table>
    <tr>
        <th>Ticket Number</th>
        <th>Customer</th>
        <th>Tech</th>
        <th>Closed By</th>
        <th>Category</th>
        <th>Equipment</th>
        <th>Hardware</th>
        <th>Software</th>
        <th>Description</th>
        <th>Status</th>
        <th>Walk_in</th>
    </tr>

    <% @allclosed.reverse.each do |f|%>
    <tr>
        <td><%=link_to(f.id, ticket_path(f.id))%></td>
        <td><%=link_to(f.customer.fname + " " + f.customer.lname, customer_path(f.customer.id))%></td>
        <td><%=f.user.fullname%></td>
        <td><%=f.closer.fullname %></td>
        <td><%=f.category%></td>
        <td><%=f.equipment%></td>
        <td><%=f.hardware%></td>
        <td><%=f.software%></td>
        <td><%=f.description%></td>
        <td><% if f.status == false %>Closed <% else %>This doesn't belong here! <% end %></td>
        <td><%=f.walk_in%></td>
    </tr>
    <%end%>
</table>