<p id="notice" class="heading-center"><%= notice %></p>


  
<h2 class="heading-center"><%= @customer.fullname %></h2>

<div class="show-div">
  <div class="area-border">
    <h3>Phone Number</h3>
    <%= @customer.phone_number %>
  </div>

<div class="area-border">
    <h3>Email</h3>
    <%= mail_to @customer.email %>
</div>

<div class="area-border">
    <h3>Address</h3>
    <%= @customer.fulladdress %>
</div>
  

  <% if @customer.company == nil || @customer.company == "" %>
  <% else %>
  <div class="area-border">
      <h3>Company</h3>
      <%= @customer.company %>
  </div> 
  <% end %>

  <div class="area-border">
    <h3>Created By</h3>
    <%= @customer.user.fullname %>
  </div>
  
  <br>

  <%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-primary" %>

  <% if @customer.user == current_user %><%= link_to 'Delete', @customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %><% end %>

</div>


<% if @opentickets.blank?%>
<% else %>
  <h2 class="heading-center">Customer's Open Tickets</h2>

  <table class="table-bordered text-center">
      <tr>
          <th>Ticket Number</th>
          <th>Tech</th>
          <th>Category</th>
          <th>Equipment</th>
          <th>Hardware</th>
          <th>Software</th>
          <th>Description</th>
          <th>Status</th>
          <th>Walk in?</th>
      </tr>

      <% @opentickets.reverse.each do |f|%>
      <tr>
          <td><%=link_to(f.id, ticket_path(f.id))%></td>
          <td><%=f.user.fullname%></td>
          <td><%=f.category%></td>
          <td><%=f.equipment%></td>
          <td><%=f.hardware%></td>
          <td><%=f.software%></td>
          <td><%=f.description%></td>
          <td><%if f.status == true%>Open<%elsif f.status == false%>Closed<%end%></td>
          <td><%if f.walk_in == true%>Yes<%elsif f.walk_in == false%>No<%end%></td>
      </tr>
      <%end%>
  </table>
<% end %>



<% if @closedtickets.blank? %>
<% else %>
  <h2 class="heading-center">Customer's Closed Tickets</h2>

  <table class="table-bordered text-center">
      <tr>
          <th>Ticket Number</th>
          <th>Tech</th>
          <th>Category</th>
          <th>Equipment</th>
          <th>Hardware</th>
          <th>Software</th>
          <th>Description</th>
          <th>Status</th>
          <th>Walk in?</th>
      </tr>

      <% @closedtickets.reverse.each do |f|%>
      <tr>
          <td><%=link_to(f.id, ticket_path(f.id))%></td>
          <td><%=f.user.fullname%></td>
          <td><%=f.category%></td>
          <td><%=f.equipment%></td>
          <td><%=f.hardware%></td>
          <td><%=f.software%></td>
          <td><%=f.description%></td>
          <td><%if f.status == true%>Open<%elsif f.status == false%>Closed<%end%></td>
          <td><%if f.walk_in == true%>Yes<%elsif f.walk_in == false%>No<%end%></td>
      </tr>
      <%end%>
  </table>
<% end %>