<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.zipcode %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h1>Customer's Tickets</h1>

<table>
    <tr>
        <th>Ticket Number</th>
        <th>Tech</th>
        <th>Category</th>
        <th>Equipment</th>
        <th>Hardware</th>
        <th>Software</th>
        <th>Description</th>
        <th>Status</th>
        <th>Walk_in</th>
    </tr>

    <% @customer.tickets.reverse.each do |f|%>
    <tr>
        <td><%=link_to(f.id, ticket_path(f.id))%></td>
        <td><%=f.user.fname%> <%=f.user.lname%></td>
        <td><%=f.category%></td>
        <td><%=f.equipment%></td>
        <td><%=f.hardware%></td>
        <td><%=f.software%></td>
        <td><%=f.description%></td>
        <td><%=f.status%></td>
        <td><%=f.walk_in%></td>
    </tr>
    <%end%>
</table>